"*":
  core:
    disabledPackages: [
      "autocomplete-snippets"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "language-csharp"
      "language-git"
      "language-go"
      "language-hyperlink"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-property-list"
      "language-toml"
    ]
    telemetryConsent: "no"
  welcome:
    showOnStartup: false
